<%= render 'shared_css_js/css_js' %>
<p class="contextual">
	<%= link_to_leave_dash_board %> | <%= link_to_go_back %>
</p>
<h3><%= l(:heading_holiday_update)%></h3>
<%= form_for :holiday, url:  systango_hrm_holiday_path(@holiday), method: :put do |f| %>
	<div class="box tabular">
		<% if @holiday and !@holiday.errors.blank? %>
			<div id="errorExplanation">
			  <ul>
				  <% @holiday.errors.messages.values.each do |message| %>
	      		<% message.each do |msg| %>
							<li><%= msg %></li>
						<%end %>
		    	<% end %>
		    </ul>
	    </div>
		<% end %>
		<%= f.hidden_field :id, :value => @holiday.id %>
		<p>
		  <%= f.label(:select_date) do%>
		  	Select Date <font color="red">*</font>
	  	<%end%>
		  <%= f.text_field :holiday_date, :size => 12, :value => @holiday.holiday_date %>
	  </p>
	  <p>
		  <%= f.label(:holiday_for) do  %>
		  	Holiday For <font color="red">*</font>
	  	<%end%>
		  <%= f.text_field :holiday_for, :size => 12, :value => @holiday.holiday_for %>
	  </p>
	</div>
  <%= f.submit l(:button_update),:class=> "left" %>
<% end %>
<p class="contextual"><%= link_to_go_back %></p>
